## Xcode 
DerivedData/
*.xcuserdata
*.moved-aside
*.xcuserstate
*.hmap

## Swift Package Manager (Importante para libs)
.build/
.swiftpm/
# Recomenda-se não subir o .resolved em bibliotecas
Package.resolved

## CocoaPods (Para limpar o que sobrou)
# Se você for apagar a pasta Pods do seu PC, essa linha garante 
# que ela nunca mais volte para o GitHub por erro.
Pods/
*.xcworkspace

## Sistema
.DS_Store